<div class="head-menus">
    <div class="nav1">
        <!--横向导航栏-->
        <ul class=".head-ul">
        <li class="menu">
        <a href="#" (mouseover)="switchMenuDisplay(1)">菜单</a>
        <ul id="menus-ul" class="display-ul">
            <li><a href="#home">连接</a></li>
            <li><a href="#contact">打开</a></li>
            <li><a href="#about">退出</a></li>
        </ul>
        </li>
        <li><a href="#">视窗</a></li>
        <li><a href="#">工具</a></li>
        <li><a href="#">帮助</a></li>
        </ul>
    </div>
<div>