
  .headMenus {
    padding-left: 0px;/*左边距，使li看起来在中间*/
    background: #282826;
    text-align: center;
    margin: 0px;
    height: 24px;
    display: flex;
  }
  
  .menus{
    position: relative;
    height: 100%;
    background-color: #282826;
  }

  .menus a:link,a:visited{ /*鼠标未点击和点击过时的样式*/
    display: block;
    color: #5E5E5C;
    text-align: center;
    text-decoration: none;
  }

  /* 移动到菜单a标签时，改变a标签的背景颜色 */
  .menus a:hover {
    background-color: #cbc7d3;
  }

  .menus a{
    padding: 0 8px;
  }

  .displayMenu{
    background-color: #ffffff;
    display: none;
    flex-direction: column;
  }