    <!--横向导航栏-->
<div class="headMenus">
    <div class="menus">
        <a href="#" (mouseover)="switchMenuDisplay(1)">菜单</a>
        <div id="menuList" class="displayMenu">
            <div (click)="openNewConnect()" ><a href="#">连接</a></div>
            <div><a href="#">打开</a></div>
            <div><a href="#">退出</a></div>
        </div>
    </div>

    <div class="menus"><a href="#">视窗</a></div>
    <div class="menus"><a href="#">工具</a></div>
    <div class="menus"><a href="#">帮助</a></div>
</div>