
<div id="new-connect">
    <h2>新建连接</h2>
    <form>
        <div class="form-group">
        <label for="connectionName">连接名</label>
        <input type="text" [(ngModel)]="connectModel.connectName" name="connectionName" placeholder="Enter connection name">
        </div>
        <div class="form-group">
        <label for="host">Host</label>
        <input type="text" [(ngModel)]="this.connectModel.host" name="host" placeholder="Enter host">
        </div>
        <div class="form-group">
            <label for="port">端口</label>
            <input type="text" [(ngModel)]="connectModel.port" name="port" placeholder="Enter port">
            </div>
        <div class="form-group">
            <label for="username">账号</label>
            <input type="text" name="username" [(ngModel)]="connectModel.username" placeholder="Enter username">
        </div>
        <div class="form-group">
            <label for="password">密码</label>
            <input type="text" name="password" [(ngModel)]="connectModel.password" placeholder="Enter password">
        </div>

        <button type="button" (click)="testConnect()" class="btn btn-primary">测试</button>
        <button type="button" class="btn btn-primary">连接</button>
        <button type="button" (click)="cancelNewConnect()" class="btn btn-primary">取消</button>
    </form>

    <div class="container">

        <form class="row" (submit)="testConnect()">
          <input #greetInput id="greet-input" placeholder="Enter a name..." />
          <button type="submit">Greet</button>
        </form>
      </div>
</div>