<!-- 构建一个数据库连接页面，需要填写数据库连接名，Host, 端口号，账号和密码等 -->
<div id="new-connect">
    <h2>新建连接</h2>
    <form>
        <div class="form-group">
        <label for="connectionName">连接名</label>
        <input type="text" class="form-control" id="connectionName" placeholder="Enter connection name">
        </div>
        <div class="form-group">
        <label for="host">Host</label>
        <input type="text" class="form-control" id="host" placeholder="Enter host">
        </div>
        <div class="form-group">
            <label for="host">端口</label>
            <input type="text" class="form-control" id="port" placeholder="Enter host">
            </div>
        <div class="form-group">
            <label for="username">账号</label>
            <input type="text" class="form-control" id="username" placeholder="Enter host">
        </div>
        <div class="form-group">
            <label for="password">密码</label>
            <input type="text" class="form-control" id="password" placeholder="Enter host">
        </div>

        <button type="button" class="btn btn-primary">测试</button>
        <button type="button" class="btn btn-primary">连接</button>
        <button type="button" (click)="cancelNewConnect()" class="btn btn-primary">取消</button>
    </form>
</div>