.mid-container {
    padding: 10px 0;
    display: flex;
}

.left-container{
    border: 1px solid #000000;
    height: 100vh;
    width: 180px;
    padding: 0;
}

.right-container{
    border: 1px solid #000000;
    height: 100vh;
    width: 80%;
    padding: 0;
}